{% extends "base.html" %}
{% block title %}Airport Panel - 404{{icao}}{% endblock %}
{% block content %}
<div class="error">
    404
    <div class="error-message">Airport not found!</div>
</div>

{% endblock %}