{% extends "base.html" %}
{% block title %}Airport Panel - 404{{icao}}{% endblock %}
{% block content %}
<div class="error">
    500
    <div class="error-message">Internal error!</div>
    <div class="error-message" style="font-size: 12px; margin: auto; width: 600px;">
        <p>{{error_message}}</p>
        <p>Reloading in {{data['auto_update']}} seconds</p>
    </div>
</div>

{% endblock %}