{% extends "base.html" %}
{% block title %}Airport Panel - {{icao}}{% endblock %}
{% block content %}

<div class="windy">
    <iframe width="100%" height="100%"
        src="https://embed.windy.com/embed.html?type=map&location=coordinates&metricRain=mm&metricTemp=°C&metricWind=kt&zoom={{data['map_zoom']}}&overlay=radar&product=radar&level=surface&lat={{data['lat']}}&lon={{data['lon']}}&detailLat={{data['lat']}}&detailLon={{data['lon']}}&detail=true&pressure=true"
        frameborder="0"></iframe>
</div>
<div class="content">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 card">
            <div class="card-content">
                <div class="card-title">Sunrise</div>
                {{data['sunrise']}}
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 card">
            <div class="card-content">
                <div class="card-title">Sunset</div>
                {{data['sunset']}}
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 card">
            <div class="card-content">
                <div class="card-title">Pressure</div>
                {{data['pres_str']}}
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 card">
            <div class="card-content {{data['wind_warning']}}">
                <div class="card-title">Wind</div>
                {{data['wind_str']}}
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 card">
            <div class="card-content">
                <div class="card-title">Temperature</div>
                {{data['temp_str']}}
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 card">
            <div class="card-content">
                <div class="card-title">UV Index</div>
                {{data['uv_str']}}
            </div>
        </div>
        <div class="col-12 col-sm-12">
            {% for rw in data['runways'] %}
            <div class="runway row">
                <div class="th1 col-sm-2 {% if rw['th1']|length > 2%}three-digit{% else %}two-digit{% endif %}">
                    <div>{{rw['th1']}}</div>
                </div>
                <div class="runway-text col-sm-8">{{rw['string']}}</div>
                <div class="th2 col-sm-2 {% if rw['th2']|length > 2%}three-digit{% else %}two-digit{% endif %}">
                    <div>{{rw['th2']}}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-12 col-sm-12 card">
            <div class="card-content metar">
                <div class="card-title">Metar</div>
                {% for metar_str in metars %}
                <p>{{metar_str}}</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-sm-12 updated">
            Updated: {{data['updated']}}
        </div>
        {{data['extra_html']|safe}}
    </div>
</div>
{% endblock %}