.windy {
    padding: 10px 0px 10px 10px;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 50%;
}

.content {
    padding: 5px 20px 5px 20px;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 50%;
}

.card {
    padding: 5px;
}

.card-content {
    padding-left: 5px;
    padding-right: 10px;
    background-color: #35464e;
    text-align: right;
    font-size: 25px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-title {
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

.red {
    animation: pulse 10s infinite;
    background-color: #a30000;
}

@keyframes pulse {

    0%,
    100% {
        background-color: #c60000;
    }

    50% {
        background-color: #610000;
    }
}

.metar {
    font-size: 18px;
    text-align: left;
}

.runway {
    font-weight: bold;
    background-color: #27251b;
    text-align: center;
    height: 70px;
    margin: 5px;
    margin-bottom: 10px;
}

.two-digit {
    font-size: 48px;
}

.three-digit {
    font-size: 30px;
}

.three-digit div {
    padding-top: 25px;
}

.th1 div {
    text-align: center;
    margin-left: -20px;
    transform-origin: center;
    transform: rotate(90deg);
}

.th2 div {
    text-align: center;
    margin-right: -20px;
    transform-origin: center;
    transform: rotate(-90deg);
}

.runway-text {
    padding: 20px 0 0 0;
    font-size: 25px;
}

.updated {
    font-size: 12px;
    text-align: right;
    padding: 0 5px 0 0;
    margin-top: -10px;
}

.error {
    margin-top: 50px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

.error-message {
    font-size: 40px;
}

body {
    overflow-y: hidden;
    background-color: #263238;
    color: white;
}